{% extends "sdv/showBase.html" %}

{% load static from staticfiles %}

{% block breadcrumb%}
	<li>
		 <a href="#">Home</a>
	</li>
	<li>
		 <a href="#">Stock Manage</a>
	</li>
	<li class="active">
		Stock
	</li>
{% endblock breadcrumb %}


{% block table%}
	<table class="table">
		<thead>
		<tr>
			<th>
				Code
			</th>
			<th>
				Name
			</th>
			<th>
				CreatedTime
			</th>
			<th>
				Describe
			</th>
			<th>
				IsDeleted
			</th>
		</tr>
		</thead>
		<tbody>
			{% for item in stocksList %}
				<tr>
					<td>
						{{item.code}}
					</td>
					<td>
						{{item.name}}
					</td>
					<td>
						{{item.createTime}}
					</td>
					<td>
						{{item.describe}}
					</td>
					<td>
						{{item.isDelete}}
					</td>
		   		</tr>

            {% endfor %}

		</tbody>
	</table>
{% endblock table%}

