{% extends "sdv/showBase.html" %}

{% load static from staticfiles %}

{%block linkscript%}
<script type="text/javascript" charset="UTF-8" src="{% static '/js/indicatorPage.js'%}"></script>
{%endblock linkscript%}

{% block breadcrumb%}

	<li>
		 <a href="#">技术指标管理</a>
	</li>
	<li class="active">
		技术指标信息
	</li>
{% endblock breadcrumb %}


{% block table%}
	<table class="table table-striped table-bordered table-hover">
		<thead>
		<tr>
			<th  style="text-align: center; width: 5%">
				<input type="checkbox" id="allChoiceCheckbox">
			</th>
			<th style="width: 5%">
				ID
			</th>
			<th style="width: 14%">
				技术指标名称
			</th>
			<th style="width: 8%">
				简称
			</th>
            <th style="width: 10%">
				指标类型
			</th>
			<th>
				详情
			</th>



		</tr>
		</thead>
		<tbody>
			{% for item in page.object_list %}
				<tr>
					<td style="text-align: center">
						<input type="checkbox" class="everyCheckbox" name="indicator" value="{{item.id}}">
					</td>
					<td>
						{{item.id}}
					</td>

					<td>
						{{item.name}}
					</td>
                    <td>
						{{item.shortName}}
					</td>
                    <td>
						{{item.tType}}
					</td>
					<td>
						{{item.describe}}
					</td>

		   		</tr>

            {% endfor %}

		</tbody>
	</table>
{% endblock table%}

