{% extends "sdv/showBase.html" %}

{% load static from staticfiles %}

{%block linkscript%}
<script type="text/javascript" charset="UTF-8" src="{% static '/js/predictPage.js'%}"></script>
{%endblock linkscript%}

{% block breadcrumb%}

	<li>
		 <a href="#">数据管理</a>
	</li>
	<li class="active">
		股价预测
	</li>
{% endblock breadcrumb %}



{% block table%}
	<table class="table table-striped table-bordered table-hover">
		<thead>
		<tr>
			<th style="text-align: center">
				<input type="checkbox" id="allChoiceCheckbox">
			</th>
			<th>
				ID
			</th>
			<th style="width: 100px">
				开始日期
			</th>
			<th style="width: 100px">
				预测日期
			</th>
            <th style="width: 100px">
				行情数据
			</th>
			<th style="width: 100px">
				股票名称
			</th>

			<th>
				详情
			</th>

		</tr>
		</thead>
		<tbody>
			{% for item in page.object_list %}
				<tr>
					<td style="text-align: center">
						<input type="checkbox" class="everyCheckbox" name="predict" value="{{item.id}}">
					</td>
					<td>
						{{item.id}}
					</td>

					<td>
						{{item.startTime.year}}-{{item.startTime.month}}-{{item.startTime.day}}
					</td>
                    <td>
						{{item.predictTime.year}}-{{item.predictTime.month}}-{{item.predictTime.day}}
					</td>
                    <td>
						{{item.SHD.id}}
					</td>
					<td>
						{{item.SHD.stock.name}}
					</td>

					<td>
						{{item.describe}}
					</td>

		   		</tr>

            {% endfor %}


		</tbody>
	</table>
{% endblock table%}

