{% extends "sdv/base_v.html" %}

{% load static from staticfiles %}

{% block linkscript %}
<script type="text/javascript" charset="UTF-8" src="{%static '/js/pred_data_v.js'%}"></script>
{% endblock linkscript %}

{% block breadcrumb%}
	
	<li>
		 <a href="#">可视化管理</a>
	</li>
	<li class="active">
		股价预测数据可视化
	</li>
{% endblock breadcrumb %}

{% block searchForm%}
	<form class="form-inline" role="form" style="text-align: center" action="/pred_v/" method="post">
		{%csrf_token%}

		<div class="form-group">
			<label class="sr-only" for="id">ID</label>
			<input type="text" class="form-control" id="id"
		   placeholder="{{searchTip}}" name="searchid">
		</div>

		<button id="pdata" type="button" class="btn btn-default"  >确定</button>
        </form>
 {% endblock searchForm%}


{%block chart%}
<div id="main" style="width: 100%;height:500px;" class="col-md-12 column">
{%endblock chart%}

