{% extends "sdv/base_v.html" %}

{% load static from staticfiles %}

{% block linkscript %}
<script type="text/javascript" charset="UTF-8" src="{%static '/js/pred_data_v.js'%}"></script>
{% endblock linkscript %}

{% block breadcrumb%}
	
	<li>
		 <a href="#">可视化管理</a>
	</li>
	<li class="active">
		股价预测数据可视化
	</li>
{% endblock breadcrumb %}

{% block searchForm%}
	<form class="form-inline" role="form" style="text-align: center" action="/pred_v/" method="post">
		{%csrf_token%}

		<div class="form-group">
			<label class="sr-only" for="id">ID</label>
			<input type="text" class="form-control" id="id"
		   placeholder="{{searchTip}}" name="searchid">
		</div>
		<span id="check" class="error" style="display: none">ID 没有找到</span>
		<button type="submit" class="btn btn-default"  >确定</button>
        </form>
 {% endblock searchForm%}


{%block chart%}
<div id="main" style="width: 100%;height:500px;" class="col-md-12 column">
	<script type="text/javascript">

		/*基于准备好的dom，初始化echarts实例*/
        var myChart = echarts.init(document.getElementById('main'));
        var chartTitle ='{{showData.chartTitle|safe}}'
		var date = {{showData.date|safe}}
		var priceData = {{showData.priceData|safe}}
		var predictData = {{showData.predictData|safe}}

    	option = {
    title: {
        text: chartTitle,
        left: 'center',
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
    	top: 30,
        data:['收盘价', '预测价格']
    },
    toolbox: {
        show: true,
        feature: {
            dataZoom: {
                yAxisIndex: [0]
            },
            dataView: {readOnly: false},
            magicType: {type: ['line', 'bar']},
            restore: {},
            saveAsImage: {}
        }
    },
	grid: {     //直角坐标系
		show:true,
		top:65,
		left: '10%',    //grid组件离容器左侧的距离
		right: '10%',
		bottom: '20%',
		//backgroundColor:'#ccc'
	},
    xAxis:  {
        type: 'category',
        boundaryGap: false,
        data: date

    },
    yAxis: {
        type: 'value',
        axisLabel: {
            formatter: '￥{value} '
        },
		scale:true,
    },
    series:[{
		name: '收盘价',
		type: 'line',
		data: priceData,
		markPoint: {
			data: [
				{type: 'max', name: '最大值'},
				{type: 'min', name: '最小值'},

			]
		},
		markLine: {
			data: [
					[
                                {
                                    name: 'from lowest to highest',
                                    type: 'min',    //设置该标线为最小值的线
                                    // valueDim: 'lowest', //指定在哪个维度上的最小值
                                    symbol: 'circle',
                                    symbolSize: 10, //起点标记的大小
                                    label: {    //normal默认，emphasis高亮
                                        normal: {show: false},  //不显示标签
                                        emphasis: {show: false} //不显示标签
                                    }
                                },
                                {
                                    type: 'max',
                                    // valueDim: 'highest',
                                    symbol: 'circle',
                                    symbolSize: 10,
                                    label: {
                                        normal: {show: false},
                                        emphasis: {show: false}
                                    }
                                }
                            ],
					{type: 'average', name: '平均值'}
			]
		}},
		{
			name: '预测价格',
			type: 'line',
			symbol:'roundRect',
		    data: predictData,
			markPoint: {
			data: [

				{
					name: '预测值',
					symbol: 'arrow',
					coord: [10, predictData[10]],
					symbolSize: 20,

				}
			]
		},

	    }
	]



};


    	// 使用刚指定的配置项和数据显示图表
        myChart.setOption(option);

	</script>


{%endblock chart%}

