{% extends "sdv/base_add.html" %}
{% load static from staticfiles %}
{% block linkscript %}
<script type="text/javascript" charset="utf-8" src="{% static 'js/sh_add.js' %}"></script>
{% endblock linkscript %}


{%block form%}
    <div class="col-md-2 column">
		</div>
		<div class="col-md-8 column">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<h3>
						添加历史行情数据
					</h3>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<form role="form" action="/sh_add/" method="post">
						<div class="form-group">
                            <label >股票代码及名称</label>
                            <select id='stock' name="stock" class="form-control" >


                            </select>
                        </div>
                        <div class="form-group">
							 <label>开始日期</label>
                             <br/>
                             <input type="date" id="startTime" name="startTime" min="1990-01-01" max="{{today}}" >
						</div>
                        <div class="form-group">
							 <label>结束日期</label>
                               <br/>
                            <input type="date" id="endTime" name="endTime"  max="{{today}}">
						</div>

						<div class="form-group">
							 <label>详情</label><textarea id="describe" name="describe" class="form-control" rows="5" ></textarea>
						</div>

						<button type="submit" class="btn btn-default">确认添加</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-2 column">
		</div>
{%endblock form%}

