{% extends "sdv/base_v.html" %}

{% load static from staticfiles %}

{% block linkscript %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css'%}" />

<script type="text/javascript" charset="utf-8" src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" charset="UTF-8" src="{%static '/js/ti_data_v.js'%}"></script>
{% endblock linkscript %}

{% block breadcrumb%}
	
	<li>
		 <a href="#">可视化管理</a>
	</li>
	<li class="active">
		技术指标数据可视化
	</li>
{% endblock breadcrumb %}

{% block ajaxtidata%}

<div style="text-align: center" >


    <select id="slpk" class="selectpicker" style="display:inline-block" data-live-search="true" multiple  name="indicators">
    </select>
    <div style="display:inline-block">
        <input type="text" class="form-control" id="id"
   placeholder="请输入技术指标数据ID" name="searchid" >
    </div>


	<button id="tidata" type="button" style="display:inline-block" class="btn btn-default"  >确定</button>
</div>
{% endblock ajaxtidata%}
{%block chart%}
    <div id="main" style="width: 100%;height:1100px;" class="col-md-12 column">

{%endblock chart%}



