{% extends "sdv/showBase.html" %}

{% load static from staticfiles %}

{% block breadcrumb%}

	<li>
		 <a href="#">Technical Indicator Manage</a>
	</li>
	<li class="active">
		Indicator data
	</li>
{% endblock breadcrumb %}


{% block table%}
	<table class="table table-striped table-bordered table-hover">
		<thead>
		<tr>
			<th>
				Choice
			</th>
			<th>
				Code
			</th>
			<th>
				Name
			</th>
			<th>
				CreatedTime
			</th>
			<th>
				Describe
			</th>
			<th>
				IsDeleted
			</th>
		</tr>
		</thead>
		<tbody>
			{% for item in stocksList %}
				<tr>
					<td style="text-align: center">
						☑
					</td>
					<td>
						{{item.code}}
					</td>
					<td>
						{{item.name}}
					</td>
					<td>
						{{item.createTime}}
					</td>
					<td>
						{{item.describe}}
					</td>
					<td>
						{{item.isDelete}}
					</td>
		   		</tr>

            {% endfor %}

		</tbody>
	</table>
{% endblock table%}

