{% extends "sdv/showBase.html" %}

{% load static from staticfiles %}

{% block breadcrumb%}

	<li>
		 <a href="#">Technical Indicator Manage</a>
	</li>
	<li class="active">
		Indicator data
	</li>
{% endblock breadcrumb %}


{% block table%}
	<table class="table table-striped table-bordered table-hover">
		<thead>
		<tr>
			<th>
				<input type="checkbox">
			</th>
			<th>
				ID
			</th>
			<th>
				HistoryID
			</th>

            <th>
				Number
			</th>
			<th>
				CreatedTime
			</th>
			<th>
				Describe
			</th>
			<th>
				IsDeleted
			</th>
		</tr>
		</thead>
		<tbody>
			{% for item in page.object_list %}
				<tr>
					<td style="text-align: center">
						<input type="checkbox">
					</td>
					<td>
						{{item.id}}
					</td>
					<td>
						{{item.stockData.id}}
					</td>
					
                    <td>
						{{item.number}}
					</td>
					<td>
						{{item.createTime.year}}-{{item.createTime.month}}-{{item.createTime.day}}
					</td>
					<td>
						{{item.describe}}
					</td>
					<td>
						{{item.isDelete}}
					</td>
		   		</tr>

            {% endfor %}

		</tbody>
	</table>
{% endblock table%}

