{% extends "sdv/showBase.html" %}

{% load static from staticfiles %}

{%block linkscript%}
<script type="text/javascript" charset="UTF-8" src="{% static '/js/tidataPage.js'%}"></script>
{%endblock linkscript%}

{% block breadcrumb%}

	<li>
		 <a href="#">技术指标管理</a>
	</li>
	<li class="active">
		技术指标数据
	</li>
{% endblock breadcrumb %}


{% block table%}
	<table class="table table-striped table-bordered table-hover">
		<thead>
		<tr>
			<th style="text-align: center">
				<input type="checkbox" id="allChoiceCheckbox">
			</th>
			<th style="width: 3%">
				ID
			</th>
			<th style="width:11%" >
				历史行情
			</th>
			<th style="width:12%">
				股票名称
			</th>

            <th style="width:10%">
				数据量
			</th>
			<th style="width:13%">
				创建时间
			</th>
			<th>
				详情
			</th>

		</tr>
		</thead>
		<tbody>
			{% for item in page.object_list %}
				<tr>
					<td style="text-align: center;width: 5%">
						<input type="checkbox" class="everyCheckbox" name="tidata" value="{{item.id}}">
					</td>
					<td >
						{{item.id}}
					</td>
					<td style="text-align: center">
						{{item.stockData.id}}
					</td>
					<td>
						{{item.stockData.stock.name}}
					</td>
					
                    <td>
						{{item.stockData.number}}
					</td>
					<td>
						{{item.createTime.year}}-{{item.createTime.month}}-{{item.createTime.day}}
					</td>
					<td>
						{{item.describe}}
					</td>

		   		</tr>

            {% endfor %}

		</tbody>
	</table>
{% endblock table%}

